*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background: #050505;
  overflow: hidden;
}
::selection{
  background: rgba(28, 17, 17, 0.3);
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #162220;
  border: 1px solid #162220;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
form .button input:hover{
  background: #162220;
}